
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
</head>
<body>
    <div class="navbar">
        <a href="#" class="navbar-brand">
            <img src="assets/images/Capture.PNG" alt="Office Cafeteria" class="navbar-logo" />
        </a>
        <ul class="navbar-menu">
            <li><a routerLink = '/register' routerLinkActive="active">HOME</a></li>
            
            <li><a routerLink = '/about' routerLinkActive="active">ABOUT</a></li>
        </ul>
        <div class="navbar-search">
            <input type="text" placeholder="Search">
        </div>
    </div>

    <div class="container">
       
        <div class="wrapper">
            <div class="left">
             <h4 style="color: blue;">Profile</h4><br><br>
<img style="height: 80px; width: 60px;" src="assets/images/logol.jpg" alt="">

             <br><br>


              <strong>Name</strong> : Pranay Mhaiske <br>
              <br><br>
              <strong>Email</strong> : pranay.mhaiske@kongsberdigital.com
              <br><br>
              <strong>Phone</strong> : 234455666
              <br><br>

            </div>
            <div class="right">
               <br>
               <p id="label" style="color: blue; font-weight: bold;"> Recent Orders </p>
                <!-- <table>
                    <tr>
                      <th>Date</th>
                      <th>Type</th>
                      <th>Choice</th>
                    </tr>
                    <tr>
                      <td>03/07/2023</td>
                      <td>BreakFast</td>
                      <td>Veg-Food</td>
                    </tr>
                    <tr>
                        <td>03/07/2023</td>
                        <td>Lunch</td>
                        <td>NonVeg-Food</td>
                      </tr>
                      <tr>
                        <td>04/07/2023</td>
                        <td>BreakFast</td>
                        <td>Veg-Food</td>
                      </tr>
                      <tr>
                        <td>04/07/2023</td>
                        <td>Lunch</td>
                        <td>Veg-Food</td>
                      </tr>
                      <tr>
                        <td>05/07/2023</td>
                        <td>Lunch</td>
                        <td>Veg-Food</td>
                      </tr>
                      <tr>
                        <td>06/07/2023</td>
                        <td>BreakFast</td>
                        <td>Veg-Food</td>
                      </tr>
                  </table><br><br> -->
                  <div class="chart">
                    <img src="assets/images/graph.png" alt="">
              <br><br><br>
              
              <a class="button" routerLink = '/order'>Order Now</a></div>
            </div>
            <br>
           
          </div>
    </div>
    <footer>
      <img  style="margin-top: 20px; margin-left: 47%;" src="assets/images/Capture.PNG" alt="Office Cafeteria" class="navbar-logo">
      <h5 style="text-align: center;">© 2023 Kongsberg Digital</h5>
    </footer>
    
</body>
</html>

